csv==latest
numpy==1.24.3
json==latest
osfclient==0.0.5
import_data_osf2==latest
os==latest
importlib==latest
ast==latest
tempfile==latest
networkx==3.1
mpl_toolkits==latest
matplotlib==3.7.2
scipy==1.11.1
plotly==5.9.0
pandas==2.0.3
